/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  background-image: url('./bb.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  text-align: center;
  color: white;
  padding-top: 5rem;

  /* border: 10px solid #a3c380; */
}

.title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  color: #a3c380;
  margin: 0;
  /* border: 10px solid #a3c380; */
}

.description {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  margin-top: 1rem;
}

.trigger-button {
  font-family: 'Bangers', cursive;
  font-size: 1.3rem;
  color: white;
  background-color: #4b8673; /* Dark green inspired by Breaking Bad */
  border: none;
  padding: 18px 74px;
  margin-top: 10rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.trigger-button:hover {
  background-color: #3a695d;
  transform: scale(1.05);
}

.trigger-button:active {
  background-color: #355e53;
  transform: scale(0.98);
}

/* App.css or Button.css */
.button-disabled {
  font-family: 'Bangers', cursive;
  font-size: 1.3rem;
  color: white;
  background-color: #4b8673; /* Dark green inspired by Breaking Bad */
  border: none;
  padding: 18px 74px;
  margin-top: 10rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* transition: background-color 0.3s ease, transform 0.2s ease; */

  pointer-events: none; /* Disables all hover, click, and other pointer interactions */
  opacity: 0.8; /* Makes the button appear disabled */
  transform: none; /* Prevents any transform effects */
  transition: none; /* Disables transition effects */
}

/* StageCards.css */
.stage-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem; /* Space between cards */
}

.stage-card {
  font-family: 'Bangers', cursive;
  /* background-color: #3a695d; /* Dark green background */
  border-radius: 10px;
  padding: 20px;
  width: 200px; /* Set width for cards */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center; /* Center text */
}

.stage-waiting {
  background-color: #808080; /* Grey for waiting */
}

.stage-running {
  background-color: #ffa500; /* Orange for running */
}

.stage-cancelled {
  background-color: #ff4500; /* Red for cancelled */
}

.stage-skipped {
  background-color: #a9a9a9; /* Light grey for skipped */
}

.stage-finished {
  background-color: #3a695d; /* Dark green for finished */
}


.stage-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}

.stage-title {
  /* font-family: 'Roboto Slab', sans-serif; */
  /* font-family: 'Bangers', cursive; */
  font-size: 1.5rem;
  color: #ffffff; /* White text for title */
  margin: 0;
}

/* Modal.css */
.custom-modal {
  font-family: 'Bangers', cursive;
  background-color: #2e4b3a; /* Darker background for the modal */
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 80%;
  max-width: 600px;
  outline: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8); /* Dark background for overlay */
}

.modal-title {
  text-align: center;
  /* font-family: 'Roboto Slab', sans-serif; */
  margin-bottom: 1rem;
}

.modal-content {
  margin-bottom: 1rem;
}

.step {
  margin: 1rem 0;
  padding: 10px;
  background-color: #959c95; /* Similar background for steps */
  border-radius: 5px;
}

.close-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #d9534f; /* Close button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Bangers', cursive;
}

.bash-code-block {
  background-color: #1e1e1e; /* Dark background color */
  color: #d4d4d4; /* Light text color */
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace; /* Monospaced font */
  overflow-x: auto; /* Scroll horizontally if needed */
}

